@page "/rules"
@using CleanArchitecture.Frontend.Layout
@using CleanArchitecture.Frontend.Components
@inherits LayoutComponentBase

<BodyHeader Title="RULES" />

<div class="body-content p-2" style="margin-top: -70px">
    <div class="row" style="margin-bottom: 50px">
        <div class="col-12 p-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"><i class="fa fa-file"></i> Peraturan Selama Berkunjung</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-light">
                        <li class="list-group-item">1. Memakai pakaian rapi dan sopan</li>
                        <li class="list-group-item">2. Makan dan minum ditempat yang sudah disediakan</li>
                        <li class="list-group-item">3. Dilarang meludah sembarangan</li>
                        <li class="list-group-item">4. Dilarang menggunakan sandal</li>
                        <li class="list-group-item">5. Dilarang membuang sampah sembarangan</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<MenuBar />