@page "/visitor"
@using CleanArchitecture.Frontend.Layout
@using CleanArchitecture.Frontend.Components
@inherits LayoutComponentBase

<SectionContent SectionName="css">
    <style>
        .body-header {
            position: sticky;
            top: 0;
            z-index: 1000;
        }

        .form-label {
            font-weight: 700;
        }

        #addPerson:hover {
            background-color: #f5f5f5 !important;
            color: #5f5f5f;
            border: 1px solid #5f5f5f !important;
            transition: all 0.3s ease;
        }

        .btn-delete-person {
            cursor: pointer
        }

        .btn-delete-person:hover {
            background-color: #f5f5f5 !important;
            color: #5f5f5f;
            border: 1px solid #5f5f5f !important;
            transition: all 0.3s ease;
        }

        table tr td {
            vertical-align: middle !important;
            padding: 0.2rem !important;
        }
    </style>
</SectionContent>

<BodyHeader Title="VISITOR" />

<div class="body-content p-2">
    <div class="row" style="margin-bottom: 65px">
        <div class="col-12 p-4">
            <form action="" method="post">
                <div class="form-group mb-3">
                    <label class="form-label" for="company">Company/Organization<span class="text-danger"> *</span></label>
                    <input type="text" id="company" class="form-control" />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="location">Location<span class="text-danger"> *</span></label>
                    <input type="text" id="location" class="form-control" />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="pic">PIC/Host<span class="text-danger"> *</span></label>
                    <input type="text" id="pic" class="form-control" />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="agenda">Agenda<span class="text-danger"> *</span></label>
                    <input type="text" id="agenda" class="form-control" />
                </div>
                <div class="form-group mb-5">
                    <label class="form-label" for="date">Visit Date<span class="text-danger"> *</span></label>
                    <input type="date" id="date" class="form-control" />
                </div>
                <div class="my-3 d-flex justify-content-between">
                    <div class="h5 pt-1">
                        <i class="fa fa-users"></i> List Visitor <span class="badge bg-primary"
                            id="totalPerson">0</span>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary btn-sm" id="addPerson">
                            <i class="fa fa-plus"></i> Add Visitor
                        </button>
                    </div>
                </div>
                <div id="person" class="mb-3">
                    <div class="card p-3 mb-5 border card-person">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label" for="name-0">Name<span class="text-danger"> *</span></label>
                                    <input type="text" id="name-0" name="name[]" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label" for="title-0">Title<span class="text-danger"> *</span></label>
                                    <select name="title[]" id="title-0" class="form-control">
                                        <option value="Mr.">Mr.</option>
                                        <option value="Ms.">Ms.</option>
                                        <option value="Tuan">Tuan</option>
                                        <option value="Ny.">Ny.</option>
                                        <option value="Bapak">Bapak</option>
                                        <option value="Ibu">Ibu</option>
                                    </select>
                                </div>

                                <div style="position: absolute; right: -5px; top: -5px">
                                    <span class="badge bg-danger btn-delete-person">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <label class="form-label" for="identity-0">NIK / No Paspor<span class="text-danger"> *</span></label>
                                    <input type="text" id="identity-0" name="identity[]" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <label class="form-label" for="email-0">Email<span class="text-danger"> *</span></label>
                                    <input type="text" id="email-0" name="email[]" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <label class="form-label" for="plat-0">Plat Number</label>
                                    <input type="text" id="plat-0" name="plat[]" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" id="submit" class="btn btn-primary btn-block">
                    <i class="fa fa-paper-plane"></i> Submit
                </button>
            </form>
        </div>
    </div>
</div>

<MenuBar />

<SectionContent SectionName="js">
    <script type="text/javascript">
        $('#addPerson').on('click', function () {
            let formPerson = contentPerson();

            $(formPerson).hide().prependTo('#person').fadeIn(); // Fade in effect when adding a person

            initFunction();
        });

        function removePerson() {
            $('.btn-delete-person').on('click', function () {
                $(this).closest('.card').fadeOut(function () {
                    $(this).remove();
                    countPerson();
                });
            });
        }

        function contentPerson() {
            let row = $('#person .card').length;

            return `<div class="card p-3 mb-5 borde card-person">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group mb-3">
                    <label class="form-label" for="name-${row}">Name<span class="text-danger"> *</span></label>
                    <input type="text" id="name-${row}" name="name[]" class="form-control" />
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group mb-3">
                    <label class="form-label" for="title-${row}">Title<span class="text-danger"> *</span></label>
                    <select name="title[]" id="title-${row}" class="form-control">
                        <option value="Mr.">Mr.</option>
                        <option value="Ms.">Ms.</option>
                        <option value="Tuan">Tuan</option>
                        <option value="Ny.">Ny.</option>
                        <option value="Bapak">Bapak</option>
                        <option value="Ibu">Ibu</option>
                    </select>
                </div>

                <div style="position: absolute; right: -5px; top: -5px">
                    <span class="badge bg-danger btn-delete-person">
                        <i class="fa fa-times"></i>
                    </span>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group mb-3">
                    <label class="form-label" for="identity-${row}">NIK/No Paspor<span class="text-danger"> *</span></label>
                    <input type="text" id="identity-${row}" name="identity[]" class="form-control" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group mb-3">
                    <label class="form-label" for="email-${row}">Email<span class="text-danger"> *</span></label>
                    <input type="text" id="email-${row}" name="email[]" class="form-control" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group mb-3">
                    <label class="form-label" for="plat-${row}">Plat Number</label>
                    <input type="text" id="plat-${row}" name="plat[]" class="form-control" />
                </div>
            </div>
        </div>
    </div>`;
        }

        function countPerson() {
            let total = $('#person .card').length;

            $(`#totalPerson`).text(total);
            
            if (total == 0) {
                $('#submit').prop('disabled', true);
            } else {
                $('#submit').prop('disabled', false);
            }
        }

        function initFunction() {
            countPerson();
            removePerson();
        }

        initFunction();
    </script>
</SectionContent>